.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 300vh;
    width: 100vw;
}

span {
    font-size: 4.5rem;
    color: inherit;
    animation: pulse 1.5s infinite forwards;
}

.content-box-1,
.content-box-2,
.content-box-3 {
    background-color: var(--background-color);
    opacity: 0.8;
    width: 100vw;
    height: fit-content;
    border: 1px solid var(--accent-color);
    transition: opacity 1s ease-in-out;
}

.content-box-1 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin-top: 40vh;
}

.content-box-2 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin-top: 30vh;
}

.content-box-3 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin-top: 30vh;
}


/* class for Interscection Observer */
.fade-in {
    opacity: 1 !important;
    transform: translateY(0);
}


@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: scale(0.75);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
        transform: scale(0.7);
    }
}