<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skyHousing</title>
</head>

<body>
    <div class="wrapper">
        <h1>skyHousing</h1>
        <h2>Your next home is just over the horizon</h2>
        <span class="material-icons">arrow_downward</span>
        <span class="leading-line-first"></span>
        <div #hiddenElement class="hidden content-box-1" appIntersectionObserver>
            <h1>We Are skyHousing</h1>
            <p>In skyHousing, we redefine contemporary life by offering excellent modern homes and magnificent villas
                designed for comfort, elegance and innovation. Our passion is to create vacancies that mix architectural
                talent with everyday functionality, ensuring that whatever home we distribute is an ideal sanctuary for
                you and your loved ones.</p>
        </div>
        <span class="leading-line-second"></span>
        <div #hiddenElement class="hidden content-box-2" appIntersectionObserver>
            <h1>All across Europe</h1>
            <i class="material-icons pin">globe_location_pin</i>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente pariatur cumque aliquam inventore
                molestiae unde harum ratione fugiat saepe? Deserunt molestiae repellendus recusandae laborum nostrum
                omnis, qui accusamus? Officia, est!</p>
        </div>
        <span class="leading-line-third"></span>
        <div #hiddenElement class="hidden content-box-3" appIntersectionObserver>
            <h1>We invite you to look around!</h1>
            <a href="/house-list">
                <h3>Browse through our catalog...</h3>
            </a>
            <a href="/contact">
                <h3>...or write an inquery for our team!</h3>
            </a>
        </div>
    </div>

</body>

</html>