.listings-container {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* media queries */

@media (max-width: 768px) {
    .listings-container {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .listing-card {
        width: 80%;
        height: auto;
    }
}