/* global styles*/

:root {
    --background-color: #002D62;
    --font-color: #F0F8FF;
    --accent-color: #6F00FF;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background: url('/oliver-hae-h3pU3m-Eduk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    color: var(--font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 4.75rem;
    letter-spacing: 3px;
    font-weight: 100;
    margin-top: 0 !important;
    margin-bottom: 1.25rem;
    animation: fadeInTop 1s forwards ease;
}

h2 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: -2px;
    font-weight: 200;
    margin-bottom: 1.25rem;
    animation: fadeInTop 1.5s forwards ease;
}

p {
    font-size: 1.25rem;
    line-height: 1.75;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.btn {
    padding: 5px 10px;
    font-size: 0.9rem;
    border: none;
    background-color: var(--background-color);
    color: var(--font-color);
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &:hover {
        scale: 1.1;
        border-radius: 5px;
        background-color: var(--accent-color);
        color: var(--background-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}

.listing-card {
    width: 300px;
    height: fit-content;
    background-color: var(--background-color);
    padding: 20px;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInTop 1.5s forwards ease;
    transition: all 0.3s ease;

    &:hover {
        scale: 1.1;
        border-top-left-radius: 1rem;
        cursor: pointer;
        background-color: var(--accent-color);
        opacity: 1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}

.listing-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-top-left-radius: 15px;
    }
}

.listing-card p {
    margin-top: 0.5rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.5px;
}


/* Animations */

@keyframes fadeInTop {
    0% {
        opacity: 0;
        filter: blur(15px);
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

@media (max-width: 767px) {
    .listing-card {
        width: 80%;
        height: auto;
    }
}