<nav class="navbar">
    <div class="logo">
        <a href="/"> <span class="material-icons">
                apartment
            </span>skyHousing</a>
    </div>

    <div><button class="menu-toggle" (click)="toggleMenu()"><i class="material-icons">menu</i></button>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <ul class="nav-links" [ngClass]="{'active': isMenuOpen}" [@fadeInOut] *ngIf="isMenuOpen || isDesktop">
        <li><a href=" /">Home</a></li>
        <li><a href="/house-list">House Listings</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>