.navbar {
    position: sticky;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    opacity: 0.6;
    padding: 15px 20px;
    color: inherit;
    transition: opacity 0.5s ease-in;
}

.navbar:hover {
    opacity: 1;
}

.logo a {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
    transition: all 0.7s ease;
}

.logo a:hover {
    cursor: pointer;
    color: var(--accent-color);
    text-decoration: underline;
    letter-spacing: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    transition: color 0.3s;
    transition: all 0.7s ease;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--accent-color);
    font-size: 1.15rem;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 10px;
}