a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    transition: all 0.2s ease-in;

    &:hover {
        opacity: 1;
        text-decoration: underline;
        transform: translateY(-5px);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
}

.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: fit-content;
    width: 100vw;
}

span.material-icons {
    font-size: 4.5rem;
    color: inherit;
    animation: pulse 1.5s infinite forwards;
}

.content-box-1,
.content-box-2,
.content-box-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;
    background-color: var(--background-color);
    opacity: 0.8;
    width: 80vw;
    height: fit-content;
    padding: 1.5rem;
    border: 1px solid var(--accent-color);
    transition: opacity 1s ease-in-out;
}

.team-container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.team-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.position-text {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.leading-line-first,
.leading-line-second,
.leading-line-third {
    width: 3px;
    border-radius: 3px;
    background-color: var(--accent-color);
}

.leading-line-first {
    height: 100vh;
}

.leading-line-second,
.leading-line-third {
    height: 25vh;
}

/* Intersection Observer */

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-100%);
    transition: all 0.5s ease;
}

.visible {
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
}

/* Animations */

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: scale(0.75);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
        transform: scale(0.7);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Media queries */

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    .content-box-1,
    .content-box-2,
    .content-box-3 {
        padding: 10px 20px;
        width: 100%;
    }

    p {
        font-size: 1.25rem;
        margin-top: 0;
        line-height: 1.5;
        letter-spacing: -0.5px;
        text-align: center;
        padding: 10px 20px;
    }

    .team-container {
        gap: 5px;
    }

}